llm_weights/*
data/*
*/__pycache__/*
.cache/*
.local/*
tokenizers/*
.bash_history
.python_history
.viminfo
*.out
compression/pruning_kernels/__pycache__
compression/quantization/quantization_kernels/__pycache__
compression/quantization/quantization_kernels/int_matmul/__pycache__
results/*
figures/*
output/*
.triton/
tmp/
offload/
mohammad/
.idea/
assets/*